legend {
  border-bottom: 1px solid #000;
}

label {
  font-weight: 550;
}


.hint .submit-hint {
  visibility: hidden;
  width: 200px;
  background-color: #495057;
  color: #fff;
  text-align: center;

}

.hint:hover .submit-hint {
  visibility: visible;
}
.v1 {
  border-left: 1px solid gray;
  height: 100%;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.ng-untouched[required], .ng-untouched.required {
  border-left: 5px solid #4286f4 /* gray */
}

.ele-form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
