<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<div class="row">
  <div class="col-6">
    <a href="https://www.ed.ac.uk/">
    <img src=".\assets\img\uni-icon.png" title="University of Edinburgh Home" alt="University Logo" />
    </a>
  </div>
</div>
  <div class="row">
      <h1>{{ title }}</h1>
  </div>
  <hr/>


  <div class="row">
  <div  class="col-10">
  <form name="form" #userForm="ngForm"  (ngSubmit)="onSubmit()" novalidate>
    <!--Value from the application form objects in the html-->
    <h3>Form's HTML data entries | JSON</h3>
    {{userForm.value | json}}
    <!--Application Model from app.component-->
    <hr />
    <h3>Form's TypeScript Model | JSON</h3>
    {{userModel | json }}
    <!--Personal Details Section Begins Here-->
<fieldset>
  <legend>Personal Details</legend>
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" #firstname="ngModel" [class.is-valid]="firstname.valid && firstname.touched" [class.is-invalid]="firstname.invalid && firstname.touched" class="form-control" required name="firstname" maxlength="255" [(ngModel)]="userModel.firstname">
      <small class="text-danger" [class.d-none]="firstname.invalid && firstname.untouched" [hidden]="firstname.valid && firstname.touched">First Name is required</small>
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input type="text" #surname="ngModel" [class.is-valid]="surname.valid && surname.touched" [class.is-invalid]="surname.invalid && surname.touched" class="form-control" required name="surname" maxlength="255" [(ngModel)]="userModel.surname">
      <small class="text-danger" [class.d-none]="surname.invalid && surname.untouched" [hidden]="surname.valid && surname.touched">Surname is required</small>
    </div>

    <div class="form-group">
      <label>Preferred Name</label>
      <input type="text" #preferredName="ngModel"  class="form-control" name="preferredName" maxlength="255" [(ngModel)]="userModel.preferredName">
    </div>

  <div class="row">
    <div class="form-group col-4">
        <!--Fix function for Day name template-->
      <label for="day"  class="control-label">Day of Birth</label>
      <select  id="day" name="day"  [(ngModel)]="userModel.day" class="form-control" required >
        <option value="null" >Please select your day of Birth</option>
        <option *ngFor="let da of day"  [value]="da" >{{da}}</option>
      </select>

  </div>

    <div class="form-group col-4">
        <label>Month of Birth</label>
        <select class="form-control" required name="month" [(ngModel)]="userModel.month">
          <option value="">Please select your month of Birth</option>
          <option *ngFor="let mon of month" [value]="mon">{{mon}}</option>
        </select>
    </div>


    <div class="form-group col-4">
        <label>Year of Birth</label>
        <select class="form-control" required name="year" [(ngModel)]="userModel.year">
          <option value="null">Please select your year of Birth</option>
          <option *ngFor="let ye of year" [value]="ye">{{ye}}</option>
        </select>
    </div>
  </div>

  <div class="form-group">
    <label>Gender</label>
    <input type="text" #gender="ngModel" [class.is-valid]="gender.valid && gender.touched" [class.is-invalid]="gender.invalid && gender.touched" class="form-control" required name="gender" [(ngModel)]="userModel.gender">
    <small class="text-danger" [class.d-none]="gender.invalid && gender.untouched" [hidden]="gender.valid && gender.touched">Gender information is required</small>
  </div>

  <div class="form-group">
    <label>Passport Number</label>
    <input type="text" #passportNum="ngModel" [class.is-valid]="passportNum.valid && passportNum.touched" [class.is-invalid]="passportNum.invalid && passportNum.touched" class="form-control" required name="passportNum" [(ngModel)]="userModel.passportNum">
    <small class="text-danger" [class.d-none]="passportNum.invalid && passportNum.untouched" [hidden]="passportNum.valid && passportNum.touched">Passport Number information is required</small>
  </div>

  <div class="form-group">
    <label>Nationality</label>
    <input type="text" #nationality="ngModel" [class.is-valid]="nationality.valid && nationality.touched" [class.is-invalid]="nationality.invalid && nationality.touched" class="form-control" required name="nationality" [(ngModel)]="userModel.nationality">
    <small class="text-danger" [class.d-none]="nationality.invalid && nationality.untouched" [hidden]="nationality.valid && nationality.touched">Nationality information is required</small>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" #email="ngModel" [class.is-valid]="email.valid && email.touched" [class.is-invalid]="email.invalid && email.touched" class="form-control" required name="email" placeholder="e.g. example@email.com" [(ngModel)]="userModel.email">
    <small class="text-danger" [class.d-none]="email.invalid && email.untouched" [hidden]="email.valid && email.touched">Valid Email information is required</small>
  </div>

  <div class="form-group">
    <label>Telephone/Mobile Number</label>
    <input type="text" #contactNum="ngModel" [class.is-valid]="contactNum.valid && contactNum.touched" [class.is-invalid]="contactNum.invalid && contactNum.touched" class="form-control" required name="contactNum" [(ngModel)]="userModel.contactNum">
    <small class="text-danger" [class.d-none]="contactNum.invalid && contactNum.untouched" [hidden]="contactNum.valid && contactNum.touched">Contact information is required.</small>
  </div>

  <div class="form-group">
    <label>House Number</label>
    <input type="text" #houseNum="ngModel" [class.is-valid]="houseNum.valid && houseNum.touched" [class.is-invalid]="houseNum.invalid && houseNum.touched" class="form-control" required name="houseNum" [(ngModel)]="userModel.houseNum">
    <small class="text-danger" [class.d-none]="houseNum.invalid && houseNum.untouched" [hidden]="houseNum.valid && houseNum.touched">House Number information is required</small>
  </div>

  <div class="form-group">
    <label>House Address Line 1</label>
    <input type="text" #houseAddress="ngModel" [class.is-valid]="houseAddress.valid && houseAddress.touched" [class.is-invalid]="houseAddress.invalid && houseAddress.touched" class="form-control" required name="houseAddress" [(ngModel)]="userModel.houseAddress">
    <small class="text-danger" [class.d-none]="houseAddress.invalid && houseAddress.untouched" [hidden]="houseAddress.valid && houseAddress.touched">House Address Line 1 information is required</small>
  </div>

  <div class="form-group">
    <label>House Address Line 2</label>
    <input type="text" class="form-control" name="houseAdddressTwo" placeholder="e.g. Clermiston, Mayfield, etc." [(ngModel)]="userModel.houseAddressTwo">
  </div>

  <div class="form-group">
    <label>City</label>
    <input type="text" #city="ngModel" [class.is-valid]="city.valid && city.touched" [class.is-invalid]="city.invalid && city.touched" class="form-control" required name="city" [(ngModel)]="userModel.city">
    <small class="text-danger" [class.d-none]="city.invalid && city.untouched" [hidden]="city.valid && city.touched">City information is required</small>
  </div>


  <div class="form-group">
    <label>Region</label>
    <input type="text" #region="ngModel" [class.is-valid]="region.valid && region.touched" [class.is-invalid]="region.invalid && region.touched" class="form-control" required name="region" [(ngModel)]="userModel.region">
    <small class="text-danger" [class.d-none]="region.invalid && region.untouched" [hidden]="region.valid && region.touched">Region information is required</small>
  </div>

  <div class="form-group">
    <label>Country</label>
    <select class="form-control" required name="country" [(ngModel)]="userModel.country">
      <option value="">Please select your Country</option>
      <option *ngFor="let co of country" [value]="co">{{co}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>ZIP code / Postcode</label>
    <input type="text" #zipPostcode="ngModel" [class.is-valid]="zipPostcode.valid && zipPostcode.touched" [class.is-invalid]="zipPostcode.invalid && zipPostcode.touched" class="form-control"  required name="zipPostcode" [(ngModel)]="userModel.zipPostcode">
    <small class="text-danger" [class.d-none]="zipPostcode.invalid && zipPostcode.untouched" [hidden]="zipPostcode.valid && zipPostcode.touched">ZIP/Postcode information is required</small>
  </div>

  <div class="form-group">
    <label>First Language</label>
    <input type="text" #firstLanguage="ngModel" [class.is-valid]="firstLanguage.valid && firstLanguage.touched" [class.is-invalid]="firstLanguage.invalid && firstLanguage.touched" class="form-control" required name="firstLanguage" [(ngModel)]="userModel.firstLanguage">
    <small class="text-danger" [class.d-none]="firstLanguage.invalid && firstLanguage.untouched" [hidden]="firstLanguage.valid && firstLanguage.touched">First Language information is required</small>
  </div>

  <div class="form-group">
    <label>Which of the following options best describes your current occupation?</label>
    <select class="form-control" name="currentOccupation" required [(ngModel)]="userModel.currentOccupation">
      <option value="">Please select an Option</option>
      <option *ngFor="let current of currentOccupation" [value]="current">{{current}}</option>
    </select>
  </div>


  <div class="form-group">
    <label>If Other, please specify</label>
    <textarea class="form-control" name="currentOccupationDetail" [(ngModel)]="userModel.currentOccuptionDetail"></textarea>
  </div>


  <div class="form-group">
    <label>If you are a current university student, please let us know which university you are attending and the name of your degree programme.</label>
    <textarea class="form-control" name="university" [(ngModel)]="userModel.university"></textarea>
  </div>

  <div class="form-group">
    <label>Do you have specific support needs or medical conditions that may affect your studies? We welcome enquiries and applications from all students,
    including students with additional support needs. If you think you may need extra support or special adjustments during the course of your study,
    please let us know so our Student Support Team can help.</label>
    <textarea class="form-control" name="specificSupport" [(ngModel)]="userModel.specificSupport"></textarea>
  </div>
  <!--Personal Details Section Ends Here-->
</fieldset><hr />




  <!--Emergency Contact Details Start Here-->
<fieldset>
  <legend>Emergency Contact Details</legend>
    <div class="form-group">
      <label>Emergency Contact Name and their Relationship to You</label>
      <input type="text" #emergencyName="ngModel" [class.is-valid]="emergencyName.valid && emergencyName.touched" [class.is-invalid]="emergencyName.invalid && emergencyName.touched" class="form-control" required name="emergencyName" placeholder="e.g. John Smith, Uncle" [(ngModel)]="userModel.emergencyName">
      <small class="text-danger" [class.d-none]="emergencyName.invalid && emergencyName.untouched" [hidden]="emergencyName.valid && emergencyName.touched">Emergency Contact Name information is required</small>
    </div>


    <div class="form-group">
      <label>Emergency Contact Telephone</label>
      <input type="string" #emergencyNumber="ngModel" [class.is-valid]="emergencyNumber.valid && emergencyNumber.touched" [class.is-invalid]="emergencyNumber.invalid && emergencyNumber.touched" class="form-control" required name="emergencyNumber" [(ngModel)]="userModel.emergencyNumber">
      <small class="text-danger" [class.d-none]="emergencyNumber.invalid && emergencyNumber.untouched" [hidden]="emergencyNumber.valid && emergencyNumber.touched">Emergency Contact Number information is required</small>
    </div>

    <div class="form-group">
      <label>Emergency Contact Email</label>
      <input type="email" #emergencyEmail="ngModel" [class.is-valid]="emergencyEmail.valid &&emergencyEmail.touched" [class.is-invalid]="emergencyEmail.invalid && emergencyEmail.touched" class="form-control" required name="emergencyEmail" [(ngModel)]="userModel.emergencyEmail">
      <small class="text-danger" [class.d-none]="emergencyEmail.invalid && emergencyEmail.untouched" [hidden]="emergencyEmail.valid && emergencyEmail.touched">Emergency Contact Email information is required</small>
    </div>
  <!--Emergency Contact Details End Here-->
</fieldset><hr />


  <!--Eligibility & Criteria Details Begin Here-->
<fieldset>
  <legend>Course Choices, Eligibility & Criteria</legend>
  <div class="form-group">
    <label>Which Course would you like to apply to?</label>
    <select class="form-control" name="course"  required [(ngModel)]="userModel.course">
      <option value="">Please Select a Course</option>
      <option *ngFor="let co of course" [value]="co">{{co}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>I meet the Eligibility Criteria</label>
    <div class="form-group">
        <input type="checkbox" name="courseEligibilityCheck" [(ngModel)]="userModel.courseEligibilityCheck"> Yes, I am Eligable
      <!--Add Disclaimer Here (From Summer School site)-->
      </div>
      <small>It is important that you meet the eligibility criteria for your chosen course, including English language requirements if you are a non-native English speaker. If you do not meet the criteria the course we may not be able to accept your application. Please therefore ensure you have taken the time to read the eligibility criteria before proceeding with your application.</small>
  </div>
  <!--Eligibility & Criteria Details End Here-->
</fieldset><hr />



  <!--Terms and Conditiosn Details Start Here-->
<fieldset>
  <legend>Terms and Conditions</legend>
  <div class="form-group">
    <label>I have read the instructions for registration and payment and accept the Summer School terms and conditions. *</label>
    <div class="form-group">
        <input type="checkbox" name="termsCheck" [(ngModel)]="userModel.termsCheck"> Yes
      </div>
      <small>The University of Edinburgh Summer School will use the information you provide on this form to be in touch with you and to provide updates about the Summer School programme, including news, events and courses. You can change your mind at any time by clicking the unsubscribe link in the footer of any email you receive from us, or by contacting us at communications.col@ed.ac.uk. We will treat your information with respect. For more information about our privacy practices please visit our privacy statement https://www.ed.ac.uk/records-management/notice By clicking below, you agree that we may process your information in accordance with these terms.</small>
  </div>
  <!--Terms and Conditions Details End Here-->
</fieldset><hr />

<!--Marketing Details Start Here-->
<fieldset>
  <legend>Marketing</legend>
  <div class="form-group">
    <label>How did you find out about the University of Edinburgh English Learning Education program?</label>
    <select class="form-control" name="howFoundOut" required [(ngModel)]="userModel.howFoundOut">
      <option value="">Please Select an Option</option>
      <option *ngFor="let how of howFoundOut" [value]="how">{{how}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>If you selected "Other", please give further details</label>
    <textarea class="form-control" name="howFoundOutDesc" [(ngModel)]="userModel.howFoundOutDesc"></textarea>
  </div>


</fieldset>

<!--Privacy Policy Details Start Here-->
<fieldset>
  <legend>Privacy Policy</legend>
  <div class="form-group pb-4">
    <label>The University of Edinburgh holds information about everybody who applies to the University and everyone who studies at the University.</label>
    <div class="form-group">
        <input type="checkbox" name="privacyCheck" [(ngModel)]="userModel.privacyCheck"> Yes, I understand and agree to the University's Privacy Policy
      </div>
      <small>We disclose information about credit students to your funding body if appropriate, and to government agencies such as the Higher Education Statistics Agency (HESA). If your application is successful, we use the information to administer your studies, maintain our IT systems, monitor your performance and attendance, provide you with support, and for strategic planning. You can read the University of Edinburgh's Privacy Policy here: https://www.ed.ac.uk/records-management/notice If you have queries regarding the University's use of your information please contact the University's Data Protection Officer: dpo@ed.ac.uk</small>
  </div>
  <!--Privacy Policy Details End Here-->
</fieldset><hr />

<fieldset>
  <legend>Supporting Documents</legend>
  <div class="form-group">
    <label>Transciript of your most relevant academic qualifications OR reference letter vouching for your academic ability</label>
    <div>
    <input type="file" id="upload" #filesDocOne class="ele-form-control input-file" (change)="selectFile($event)" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"  name="filesDocOne" required [(ngModel)]="userModel.fileDocs[0].fileName[0]"/>
  </div>
  </div>
  <!--
  <textarea id="base64textarea" class="form-control" placeholder="FilesDocOne Base64 here">{{ userModel.fileDocs[0].replace("data:file/docx;base64, ", "")}}</textarea>
-->

  <div class="form-group pt-3">
    <label>Recognised English language qualification certificate (for non-native English speakers)</label>
    <div>
      <input type="file" id="upload" #filesDocTwo class="ele-form-control  v1 input-file" (change)="selectFile($event)" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" name="filesDocTwo" required [(ngModel)]="userModel.fileDocs[1].fileName[1]">
    </div>
  </div>
<!--
  <textarea id="base64textarea" class="form-control" placeholder="FilesDocTwo Base64 here">{{ userModel.fileDocs[1].replace("data:file/docx;base64, ", "")}}</textarea>
-->

  <div class="form-group pt-3">
    <label>Code of Conduct & Parental Consent form, signed by you and your parent/guardian (for students under 18)</label>
    <div>
      <input type="file" id="upload" #filesDocThree class="ele-form-control input-file" (change)="selectFile($event)" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" name="filesDocThree" required [(ngModel)]="userModel.fileDocs[2].fileName[2]">
    </div>
  </div>
  <!--
  <textarea id="base64textarea" class="form-control" placeholder="FilesDocThree Base64 here">{{ userModel.fileDocs[2].replace("data:file/docx;base64, ", "")}}</textarea>
-->

  <div class="form-group pt-3">
    <label>Data Protection Disclaimer for Agents form (for Agents applying on behalf of a student)</label>
    <div>
      <input type="file" id="upload"  class="ele-form-control input-file"  (change)="selectFile($event)" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" name="filesDocFour" [(ngModel)]="userModel.fileDocs[3].fileName[3]">
    </div>
  </div>
  <!--
  <textarea id="base64textarea" class="form-control" placeholder="FilesDocFour Base64 here">{{ userModel.fileDocs[3].replace("data:file/docx;base64, ", "")}}</textarea>
-->
</fieldset><hr />



<div class="form-group pt-5">
  <label>Once you have completed the application form, submit it.</label>
  <div class="hint">
  <button type="submit" title="Submit ONLY when all required fields are green" class="btn btn-primary">Submit Application</button>
  <!--
      <div class="pt-3">
       <span class="submit-hint">NOTE: You can only complete this form when all of the fields are entered with valid information. <br />All of the required fields should be marked with a green indicator.</span>
      </div>
      -->
  </div>
</div>
  </form>
</div>


    <div class="col-2">
      <div class="v1">
      <form class="pl-2" style="position: fixed;">
        <h3>Form Info</h3>
            <div class="pb-2">
            <input type="text" class="ng-invalid form-control" name="invalidHint" placeholder="Invalid Entry" required readonly>
        </div>

            <div class="pb-2">
            <input type="text" class="ng-valid form-control" placeholder="Valid Entry" required readonly>
        </div>

            <div class="pb-2">
            <input type="text" class="ng-untouched form-control" placeholder="Required Entry" required readonly>
        </div>

            <div class="pb-2">
            <input type="text" class="ng-untouched form-control" placeholder="Optional Entry" readonly>
        </div>
        </form>
      </div>
    </div>
</div>
</div>
